<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Home</h1>
      <p>Você está na tela principal!<br>Que tal visitar as outras páginas?</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

 